* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    width: 100%;
    background-color: black;
    padding: 1rem 0;
    position: fixed;
    top: 0;
  }
  
  .wrapper {
    width: 85%;
    margin: 0 auto;
    align-items: center;
  }

  .wrapper__navbar {
    width: 85%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    /* border: 1px solid white; */
  }
  
  .logo__text {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: white;
  }
  
  .logo__text_fs-3 {
    font-size: 3rem;
  }
  
  .logo__text_fs-5 {
    font-size: 5rem;
  }
  
  .logo__text_it {
    color: orange;
    font-weight: 100;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 1.5rem;
    color: white;
    list-style-type: none;
    padding: 0;
  }
  
  .header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("images/image@1X.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .title {
    font-size: 2.5rem;
  }
  
  .title_white {
    color: white;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
  }
  
  .line {
    width: 64px;
    height: 2px;
  }
  
  .line_white {
    background-color: white;
  }
  
  .line_margin-2 {
    margin: 2rem 0;
  }
  
  .description {
    font-size: 1rem;
    color: gray;
    font-family: "Open Sans", sans-serif;

  }
  
  .btn-download {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 2rem 0;
  }
  
  .form {
    border: 3px solid white;
    width: 30%;
    height: 50vh;
  }

  .title__form_free {
    background-color: rgb(197, 190, 190);
    font-weight: 2.5rem;
    background-color: grey;

  }

  .title__form_free-2 {
    color: orange;
  }

  .input {
    border-bottom: 1px solid red;
    height: 32px;
    
  }

  .footer {
    width: 100%;
    background-color: white;
    padding: 1rem 0;
    top: 0;
    border: 1px solid grey;
  }

  .text {
    border: 1px solid white;
    width: 40%;
  }

  .footer__description {
    font-size: 14px;
    color: grey;
  }

  .header__icons {
    display: flex;
    justify-content: space-between;
  }

  .awesome {
    width: 100%;
    height: 100vh;
    margin: 107px auto;
    text-align: center;
  }
  
 
  
  .title_black {
    color: black;
  }
  
  .line_orange {
    width: 64px;
    height: 2px;
    margin: 30px auto;
    background-color: orange;
  }

  .card__image {
    width: 70px;
    height: 70px;
    margin: 0 auto 30px;
    border: 2px solid orange;
    border-radius: 50%;
  
    background-image: url(/images/keyboard.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .lamp {
    background-image: url("images/lamp.png");
    background-repeat: no-repeat;
    background-position: center;
   
  }
  
  .clav {
    background-image: url("images/clav.png");
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
  .light {
    background-image: url("images/light.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .card__title {
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
  }
  
  .card {
    width: calc(100% / 3);
    float: left;
    margin-bottom: 107px;
   
  }
  
  .awesome__header {
    margin-bottom: 80px;
  }
  
  .main_card {
    display: flex;
    justify-content: space-between;
  }

  .options {
      width: 100%;
      height: 884px;
      padding-top: 20px;
      margin: 0 auto;
      text-align: center;
      background-color: #F5F5F5;
  }

  .options__header {
    margin-top: 76px;
    margin-bottom: 33px;
  }
  
  .options__title {
    font-family: "Raleway", sans-serif;
    color: #212121;
    font-weight: 36px;
  }
  
    
  .wrapper__b {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    
    }

    .options__block {
    display: flex;
    justify-content: space-between; 
    
    }

   .text__block {
    display: inline-block;
    margin: 0 auto;
    width: 30%;
    height: 343px;
    text-align: center;
    
    }

   li {
    list-style-type: none; 
    padding: 10px;
   }

   .options__block-3_title {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    border-bottom: 1px solid white;
    background-color: black;
   }

   .options__block-3_price {
    margin: 0 auto;
    padding: 13px;
    text-align: center;
    font-size: 80px;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    border-bottom: 1px solid white;
    background-color: black;
   }

   .options__block-3_description {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #9b9292;
    font-family: "Raleway", sans-serif;
    border-bottom: 1px solid #F5F5F5;
    background-color: #FFFFFF;
   }

   .options__block-3_section {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    height: 51px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    border-bottom: 2px solid orange;
   }

   .options__block-3_orange {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    background-color: orange;
   }

   .symbal {
    font-size: 35px;
   }

  .design {
   
    width: 100%;
    height: 100hv;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("images/city.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .blinding {
    overflow: hidden;
    background-color: #000000;
    opacity: 0.7;
  }
  
  .design__header {
    margin-top: 76px;
    margin-bottom: 33px;
  }
  
  .design__title {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
  }
  
  .design__description {
    font-size: 16px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    opacity: 0.8;
  }
  
  .design__line {
    width: 74px;
    height: 2px;
    margin: 30px auto;
    background-color: #FFFFFF;
    
  }
  
  .btn {
    margin: 0 auto;
    margin-bottom: 63px;
    border: 2px solid #ffffff;
    width: 135px;
    height: 42px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    background-color: transparent;
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: #808080;
  }

  .about {
    width: 100%;
    height: 800px;
    padding-top: 20px;
      margin: 0 auto;
      text-align: center;
      background-color: #F5F5F5;
      display: flex;
      align-items: flex-start;
  }

  .btn-send-message {
    border: 2px solid white;
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 2rem 0;
  }
  
  .design__footer {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    text-align: center;
  }
  
  .icons {
    width: 22%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 39px;
    margin-bottom: 15px;
  }
  
  .icons ul {
    padding: 0px;
  }
  
  .icons ul li {
    display: inline-block;
    list-style: none;
    margin: 0px auto;
  }
  
  .icons ul li svg {
    width: 23px;
    height: 23px;
    fill: #cccccc;
    margin: 0 10px;
  }
  
  .icons ul li svg:hover {
    cursor: pointer;
    fill: #ffffff;
  }
  
  .footer__text {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    color: #ffffff;
    background-color: #000000;
    padding-bottom: 10px;
  }

  .contact__input {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
  }

  .contact__input-text {
    height: 40px;
    width: 527px;
   }

.about__us {
  display: flex;
  justify-content: space-between;
}   